In [1]:
#Unique Words in a Sentence
count = 0
input_str = input("Enter Sentence: ") #input
input_set = set(input_str.split()) #convert to set and used split() to split string 

for i in input_set:
    count+=1

#output
print("No of Unique words are :",count)
print(input_set)

Enter Sentence:  python is crazy

No of Unique words are : 3
{'python', 'crazy', 'is'}

In [23]:
#Highest Salary from Employee Data

employees = {
    "Aarav": 92000, "Aditi": 64000, "Advait": 78000, "Akash": 55000, "Amrita": 89000,
    "Ananya": 71000, "Aniket": 62000, "Anjali": 95000, "Ansh": 48000, "Arjun": 115000,
    "Arnav": 83000, "Aryan": 67000, "Avni": 74000, "Bhavna": 59000, "Chetan": 81000,
    "Daksh": 90000, "Deepika": 73000, "Dev": 52000, "Diya": 86000, "Esha": 69000,
    "Gaurav": 102000, "Gautam": 77000, "Gayatri": 61000, "Geeta": 54000, "Gopal": 88000,
    "Hansa": 65000, "Hardik": 93000, "Harini": 70000, "Harsh": 118000, "Hemant": 47000,
    "Ira": 82000, "Ishaan": 76000, "Ishani": 63000, "Isha": 91000, "Jagdish": 58000,
    "Janhvi": 79000, "Jatin": 85000, "Jaya": 53000, "Kabir": 97000, "Kajal": 66000,
    "Karan": 105000, "Kartik": 72000, "Kavya": 84000, "Khushi": 60000, "Kiara": 112000,
    "Krish": 49000, "Kunal": 80000, "Lakshmi": 75000, "Madhav": 94000, "Mahesh": 56000,
    "Manish": 87000, "Mansi": 68000, "Meera": 101000, "Mitali": 51000, "Mohan": 74000,
    "Myra": 96000, "Nakul": 63000, "Nandini": 82000, "Navin": 108000, "Neha": 57000,
    "Nikhil": 73000, "Nisha": 90000, "Nitin": 65000, "Ojas": 88000, "Om": 46000,
    "Pallavi": 71000, "Pankaj": 83000, "Parth": 99000, "Pooja": 64000, "Pranav": 114000,
    "Pratima": 55000, "Priti": 78000, "Rahul": 92000, "Raj": 67000, "Rajesh": 81000,
    "Rani": 59000, "Ranya": 103000, "Rishi": 76000, "Riya": 85000, "Pavan":200000, "Rohan": 54000,
    "Rohit": 98000, "Saanvi": 70000, "Sagar": 89000, "Sameer": 62000, "Sanjay": 111000,
    "Sara": 48000, "Sarthak": 86000, "Seema": 77000, "Shakti": 52000, "Shikha": 94000,
    "Shivam": 80000, "Shruti": 61000, "Siddharth": 120000, "Sneha": 66000, "Sonal": 72000,
    "Tanmay": 84000, "Tanya": 53000, "Trisha": 97000, "Uday": 69000, "Varun": 106000
}

highest_salary = 0
top_employee = ""

# 2. Iterate through the dictionary
for name, salary in employees.items():
    # 3. Compare current salary to our current 'highest'
    if salary > highest_salary:
        # 4. If current is bigger, it becomes the new 'highest'
        highest_salary = salary
        top_employee = name

print(f"Highest Salary is {highest_salary} (earned by {top_employee})")

Highest Salary is 200000 (earned by Pavan)

In [35]:
#Find Maximum and Minimum Values

numbers = [45, 22, 89, 10, 66]
min_num = numbers[0]
max_num = numbers[0]

for i in numbers:
    #check min number
    if min_num > i:
        min_num = i

    #check max number
    if max_num < i:
        max_num = i
print("Min is :",min_num)
print("Max is :",max_num)

Min is : 10
Max is : 90

In [40]:
#Count Products Above a Price Threshold

prices = [450, 1200, 899, 1500, 300]
count = 0
for price in prices:
    if price > 1000:
        count+=1
print("No. products price above 1000 are :",count)

No. products price above 1000 are : 2

In [59]:
#Calculate Attendance Percentage

attendance = ["P", "P", "A", "P", "P"]
presents = []
P_count=0
No_of_days = len(attendance)
for present in attendance:
    if present == "P":
        presents.append(present)
        P_count+=1
percentage = P_count/No_of_days*100
print(f"No of days Present in a week: {P_count} days")
print(f"Percentage: {percentage:.2f}")

No of days Present in a week: 4 days
Percentage: 80.00

In [61]:
#Remove Duplicate Phone Numbers

phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)
print("unique_numbers in list are :",unique_numbers)

unique_numbers in list are : {9876543210, 9123456789}

In [80]:
#Count Character Frequency

String = input("Enter a string: ")
chars = {}
count = 0

for s in String:
    if s in chars:
        chars[s]+=1
    else:
        chars[s]=1
    
print(chars)

Enter a string:  ppython

{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

In [69]:
# Convert List to Tuple

list1 = [10,20,30]
tuple1 = tuple(list1)
print(tuple1)

(10, 20, 30)

In [74]:
#Check if a Key Exists in a Dictionary

employees = {
    "Aarav": 92000, "Aditi": 64000, "Advait": 78000, "Akash": 55000, "Amrita": 89000,
    "Ananya": 71000, "Aniket": 62000, "Anjali": 95000, "Ansh": 48000, "Arjun": 115000,
    "Arnav": 83000, "Aryan": 67000, "Avni": 74000, "Bhavna": 59000, "Chetan": 81000,
    "Daksh": 90000, "Deepika": 73000, "Dev": 52000, "Diya": 86000, "Esha": 69000,
    "Gaurav": 102000, "Gautam": 77000, "Gayatri": 61000, "Geeta": 54000, "Gopal": 88000,
    "Hansa": 65000, "Hardik": 93000, "Harini": 70000, "Harsh": 118000, "Hemant": 47000,
    "Ira": 82000, "Ishaan": 76000, "Ishani": 63000, "Isha": 91000, "Jagdish": 58000,
    "Janhvi": 79000, "Jatin": 85000, "Jaya": 53000, "Kabir": 97000, "Kajal": 66000,
    "Karan": 105000, "Kartik": 72000, "Kavya": 84000, "Khushi": 60000, "Kiara": 112000,
    "Krish": 49000, "Kunal": 80000, "Lakshmi": 75000, "Madhav": 94000, "Mahesh": 56000,
    "Manish": 87000, "Mansi": 68000, "Meera": 101000, "Mitali": 51000, "Mohan": 74000,
    "Myra": 96000, "Nakul": 63000, "Nandini": 82000, "Navin": 108000, "Neha": 57000,
    "Nikhil": 73000, "Nisha": 90000, "Nitin": 65000, "Ojas": 88000, "Om": 46000,
    "Pallavi": 71000, "Pankaj": 83000, "Parth": 99000, "Pooja": 64000, "Pranav": 114000,
    "Pratima": 55000, "Priti": 78000, "Rahul": 92000, "Raj": 67000, "Rajesh": 81000,
    "Rani": 59000, "Ranya": 103000, "Rishi": 76000, "Riya": 85000, "Pavan":200000, "Rohan": 54000,
    "Rohit": 98000, "Saanvi": 70000, "Sagar": 89000, "Sameer": 62000, "Sanjay": 111000,
    "Sara": 48000, "Sarthak": 86000, "Seema": 77000, "Shakti": 52000, "Shikha": 94000,
    "Shivam": 80000, "Shruti": 61000, "Siddharth": 120000, "Sneha": 66000, "Sonal": 72000,
    "Tanmay": 84000, "Tanya": 53000, "Trisha": 97000, "Uday": 69000, "Varun": 106000
}
target = "Tanya"

if target in employees:
    print("Employee exists")
else:
    print("Employee Details not found")

Employee exists

In [79]:
#Calculate Average Marks

marks = [45,55,46,78,99,100]

total_marks = sum(marks)
total_subjects = len(marks)

Average_marks = total_marks/total_subjects
print(f"Total marks is : {total_marks}\nNo. of subjects are : {total_subjects}\nAverage marks: {Average_marks}")

Total marks is : 423
No. of subjects are : 6
Average marks: 70.5